/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body{
    margin: 2vw 2vw;
    font-size: 16px;
}
#banner{
    display: block;
    background-color: #F5D913;
    color: #000000;
    padding: 1ch;
    text-align: center;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.5rem);
}
header{
    background-color: #15295D;
    display: grid;
    grid-template-columns: auto 40% auto auto;
    grid-template-rows: auto auto;
}
.logo{
    max-inline-size: 80%;
    block-size: auto;
    border-radius: 50%;
    border: 1px solid #fefefe;
    align-self: center;
    margin: .5rem 2vw;
}
#title{
    text-align: left; 
    color: #fefefe; 
    font-family: 'Lato', Times, sans-serif;
    align-self: center;
}
#title h1{    
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    line-height: 0.5;  
}
#title h2{    
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 0.8rem);    
}
#socialMedia {    
    display: flex;
    flex-direction: row;    
    align-self: center;
    margin: auto 2vw;
}
#socialMedia a img{
    max-inline-size: 80%;
    border-radius: 50%;
    border: 1px solid #fefefe;    
}
/*css for hamburger button in navigation*/
nav button{
    margin: auto 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #F5D913;
}
nav{
    background-color: #15295D;
    display: grid;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fefefe;
    font-family: 'Hind', Arial, serif;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color: #F5D913;
}
nav ul li a:hover{
    background-color:  rgba(0,0,0,0.3);
}
nav ul{
    display: none;
}
nav ul.open{
    display: block;
}
#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}
#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;
}
.date{
    grid-column: 1 / span 5;
    text-align: center;
    padding: 0.5rem;
    margin: .5rem 2vw;
    background-color: rgba(0,0,0,0.2);
    color: #F5D913;
    font-family: 'Hind', Arial, serif;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1rem);
}
/* css for main grid*/
.gridView{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-gap: .5rem;
    margin: .5rem 2vw;
}
.hero, .event, .weather, .news, .spotlight{
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.5);
}
.spotlight{
    display: grid;
    grid-template-columns: 1fr;    
}
.spotlight div{
    margin: .3rem 1vw;
    border: 1px solid rgba(0,0,0,0.5)
}
.join, .spot3{
    display: none;
}
.hero{
    position: relative;
}
#hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero h1{
    position: absolute;
    top: 0ch;
    left: 1rem;
    font-size: 1.3rem;
    font-family: 'Lato', Times, sans-serif;
    color: #000000
}
.joinHero{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 1rem;
    font-family: 'Hind', Arial, serif;
    background-color: #15295D;
    color: #fefefe;
    border-radius: 10px;
    border: 1px solid #fefefe;
}
.joinHero:hover{
    background-color: #fefefe;
    color: #15295D;
    font-weight: bold;
    border: 2px solid #15295D;
}
main h2, h3{
    font-family: 'Lato', Times, sans-serif;
    color: #15295D;
    text-align: center;
}
main p{
    font-family: 'Hind', Arial, serif;
    padding: 1rem;
    font-size: clamp(0.8rem, 0.75rem + 1.5vw, 1.5rem);;
}
.weather img{
    display: block;
    max-width: 90%;
    margin: 0 auto;
}
.event img{
    display: flex;
    width: 50%;
    float: left;
    padding: 1rem;
}
.spotlight{
    background-color: #15295D;
}
.center{
    display: block;
    text-align: center;
}
.spot1, .spot2, .spot3{
    background-color: #fefefe;
}
.spot1 img{
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
}
.spot2 img, .spot3 img{
    display: block;
    width: 90%;
    margin: 0 auto;
}

/*css for footer*/
footer{
    background-color: #15295D;
    color: #fefefe;
    font-family: 'Hind', Arial, serif;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 0.8rem);
    display: grid;
    grid-template-columns: 1fr;
}
#address{
    display: block;
    text-align: center;
    font-style: italic;
}
#address img{
    max-inline-size: 30%;
}
#contactInfo{
    display: block;
    text-align: center;
}
#contactInfo a{
    color: #F5D913;
    text-decoration: none;
}
#contactInfo a:hover{
    color: #c51a21;
    text-decoration: underline;
}
#copyright{
    display: block;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.3);
}





