@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body{
    font-size: 16px;
    line-height: 1.5;
    max-width : 600px;
    margin : 50px auto;
    font-family : 'Merriweather', Times, serif;
}
header{
    display: flex;
    background-color:  rgb(8, 55, 94);  
    height: 150px;
}
img{
    max-height: fit-content;    
}
h1{
   text-align : center;
   color : #fec001;
   font-size: 1.5rem;
   margin: auto auto;
}
ul{
    margin-left: 10px;
}
h2{
    color: rgb(8, 55, 94);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
footer{
    background-color: rgb(8, 55, 94);   
    line-height: 0.8;
}
#copy{
    color: #fec001;
    font-size: 1em;
    text-align: center;
    padding-top: 1em;
}
#update{
    font-style: italic;
    color: beige;
    text-align: center;
    padding-bottom: 1em;
}